*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
  }
  
.header-list{
    display: flex;
    background-color: rgb(238, 155, 54);
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color:black;
    position:absolute;
}

.show-list {
    display: flex;
    align-items: center;
    height: 77px;
    font-size: 20px;
    width: 90%;
    position: relative; 
    justify-content: flex-start;
    flex-direction: row;
}

.drop-down__header {
    width: 20%;
    padding: 26px 0;
}

.Tuition-show,
.Salary-show,
.Announcement-show,
.Setting-show,
.Account-show {
    display: none;
    flex-direction:  column;
    margin-top: 50px;
    position: absolute;
    top: 2px;
    z-index: 20;
}
.drop-down__header:hover .Tuition-show,
.drop-down__header:hover .Salary-show,
.drop-down__header:hover .Announcement-show,
.drop-down__header:hover .Setting-show,
.drop-down__header:hover .Account-show {
    display:flex;
}
.Tuition-show li,
.Salary-show li,
.Announcement-show li,
.Setting-show li,
.Account-show li {
    list-style-type: none;
    background-color: rgb(54, 55, 59);
    display: flex;
}
.Tuition-show a,
.Salary-show a,
.Announcement-show a,
.Setting-show a,
.Account-show a {
    text-decoration: none;
    color: lavender;
    justify-content: flex-start;
    font-size: 15px;
    display: contents;
}
.main-home {
    text-align: center;
}

.chart-tuition {
    width: 400px;
    margin: 20px auto;
}



