.table__Management_tuition {
  width: 100%;
  height: 100vh;
  background-color: #1b292055;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  
  position: relative;
  
  
  }
  .table__Management-fees_header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .table__Management-fees_body {
    width: 95%;
    max-height: 89%;
    margin: .8rem auto;
    overflow: hidden;
  }
  .table__Management-fees_body table {
    width: 100%;
  }
  .session__Management-fees {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    font-size: 20px;
  }
  .session__Management-fees label {
    width: 10%;
  }
  .session__Management-fees select {
    border-radius: 10px;
    font-size: 20px;
  }
  .search__Management-fees {
    display: flex;
    height: 20%;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .search__Management-fees input,
  .search__Management-fees select,
  .search__Management-fees button {
    padding: 12px;
    border-radius: 15px;
  }
  .table__Management-fees table, th, td {
    border-collapse: collapse;
    background-color: #fff4;
    padding: 1rem;
    text-align: left;
  }
  
 
  .options {
    display: none;
  }
  
  .show-options {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .options ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  // css collecttuition

  .main__Collect_tuition {
    background-color: #1b292055;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
    flex-direction: column;
}
.table__Collect-tuition {
    display: flex;
    width: 80%;
    height: 100%;
    border-radius: 25px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}
.card__Info-student {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 33px rgba(0, 0, 0, 0.1);
  border: 13px solid #ddd;
}
.card__Info-student h2 {
  display: flex;
  align-items: center;
  height: 40px;
}
.form__Info-student {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 15px;
  height: 70%;
}
.form__card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 35px;
}
.form__card p {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.form__Registered-subject h2 {
    height: 65px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
.table__Registered-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
}
.table__Registered-subject table {
  border-collapse: collapse;
  width: 100%;
}

.table__Registered-subject th,
.table__Registered-subject td {
  border: 1px solid #0c0b0b;
  padding: 8px;
  text-align: left;
}

.table__Registered-subject th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.form__Registered-subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    align-items: center;
    height: 60%;
    background-color: cornsilk;
    border-radius: 10px;
}
.list__Registered-select {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    font-size: 20px;
}
.list__Registered-select label {
  width: 15%;
}
.list__Registered-select select {
  border-radius: 10px;
  font-size: 20px;
}
.form__Receipt-tuition {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
  border-radius: 10px;
}
.form__Show-receipt {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 77%;
}
.form__card-receipt{
  width: 45%;
  display: flex;
  height: 15%;
  font-size: 20px;
}
.form__Show-receipt label {
  flex: 1 0 50%;
  display: flex;
  align-items: center;
}

.form__Show-receipt input, .form__Show-receipt select {
  flex: 1 0 50%;
  margin: 10px;
  height: 25px;
  border-radius: 5px;
}
.form__Receipt-tuition button {
  display:flex;
  background-color:#eac291;
  border-radius: 5px;
  font-size: 15px;
}

// css bill invoice

.main__Invoice {
  background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center / cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form__Invoice {
display: flex;
flex-direction: column;
align-items: center;
background-image: url(transparent-background.png);
background-color: rgba(247, 242, 242, 0.935);
width: 65%;
height: 100%;
border-radius: 25px;
box-sizing: border-box;
}
.show__Infor-company {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.show__Adress {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.show__Adress h3 {
  font-size: 13px;
}
.show__Code-bill {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.show__Code-bill h3 {
  font-size: 15px;
}
.table__Info-bill {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  align-items: center;
}
.table__Info-bill h2 {
  height: 10%;
}
.show__Info-bill {
  width: 100%;
  height: 80%;
}
.form-bill {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 12%;
}
.form-bill label {
  width: 20%;
}
.form-bill input {
  display: flex;
  height: 80%;
  border: none;
  background-color: inherit;
  width: 85%;
}
.show__Signature {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 60%;
}
.form__Signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.form__Signature h3 {
  font-size: 12px;
  height: 10%;
}
.form__Signature h2 {
  height: 20%;
}
.form__Invoice button {
  width: 5%;
  border-radius: 7px;
  background-color: bisque;
}



.editor {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Arial, sans-serif;
  position: fixed;
  background-image: url(transparent-background.png);
  background-color:bisque;
  border-radius: 10px;
  width: 40%;
  height: 50%;
  top: 12%;
}
.editor textarea {
  width: 100%;
  height: 200px;
  font-size: 16px;
  padding: 5px;
  border: none;
  outline: none;
}

.editor button {
  font-size: 16px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.editor button:hover {
  background-color: #eee;
}

.editor button.active {
  background-color: #ccc;
}
.form-noti {
  width: 100%;
  height: 10%;
}
.editor h3 {
  height: 10%;
}
.form-noti input {
  width: 40%;
  border-radius: 5px;
  font-size: 20px;
}
textarea::selection {
  text-decoration-color: red;
}

// css history page
.main__History {
  background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center / cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.table__History {
display: flex;
flex-direction: column;
align-items: center;
background-image: url(transparent-background.png);
background-color: rgba(255, 255, 255, 0.5);
width: 65%;
height: 100%;
border-radius: 25px;
box-sizing: border-box;
}
.table__History-invoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
}
.table__History-invoice h2 {
  height: 15%;
}
.table__History-noti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%;
}
.table__History-noti h2 {
  height: 15%;
}
.show__History table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ccc;
}

.show__History th, 
.show__History td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

.show__History th {
  background-color: #f2f2f2;
}

.show__History tr:hover {
  background-color: #f5f5f5;
}