//detailTeacher//
.main__Teacher--infor {
    background-color:gray ;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.table__Teacher--infor {
    display: flex;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.form__Info-teacher {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 60%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 33px rgba(0, 0, 0, 0.1);
    border: 13px solid #ddd;
}
.form__card-teacher {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: cornsilk;
}
.form__Level-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    align-items: center;
    height: 60%;
    background-color: cornsilk;
    border-radius: 10px;
}
.show__Level-history {
    width: 80%;
    height: 100%;
}
.show__Level-history table {
    border-collapse: collapse;
    width: 100%;
}
.show__Level-history th,
.show__Level-history td {
  border: 1px solid #0c0b0b;
  padding: 8px;
  text-align: left;
}

.show__Level-history th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.form__Role-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
    height: 60%;
    background-color: cornsilk;
    border-radius: 10px;
}
.show_Role-history {
    width: 80%;
    height: 100%;
}
.show__Role-history table {
    border-collapse: collapse;
    width: 100%;
}
.show__Role-history th,
.show__Role-history td {
  border: 1px solid #0c0b0b;
  padding: 8px;
  text-align: left;
}

.show__Role-history th {
  background-color: #f2f2f2;
  font-weight: bold;
}
.main__Teacher--infor button {
    width: 10%;
    height: 5%;
    border-radius: 6px;
}

//css update teacher//
.main__updateTeacher {
    background-color:gray ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.main__updateTeacher form {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.show-update__Teacher,
.show-update__Salary {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 70%;
  }
  
// .show-update__Teacher > div {
//     flex-basis: 50%;
//     box-sizing: border-box;
    
//   }
.table-inforTeacher {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: cornsilk;
    border-radius: 10px;
    width: 80%;
    height: 100%;
}
.form-updateTeacher,
.form-updateSalary {
    width: 45%;
    display: flex;
    height: 15%;
    font-size: 20px;
    align-items: center;
}
.form-updateTeacher label,
.form-updateSalary label {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
}
.form-updateTeacher input,
.form-updateTeacher select,
.form-updateSalary input,
.form-updateSalary select {
    flex: 1 0 50%;
    margin: 10px;
    height: 40%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-updateSalary {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: cornsilk;
    border-radius: 10px;
    width: 60%;
    height: 40%;
}
.btn_main-updateTeacher {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.btn_main-updateTeacher button {
    width: 10%;
    border-radius: 5px;
}


//timesheets teacher//
.main__timesheets {
    background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center / cover no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.form--timesheets {
    background-color: whitesmoke;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
}
.search--timesheets {
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 100%;
}
.search--timesheets input,
.search--timesheets label,
.search--timesheets select {
    height: 50%;
    font-size: 15px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.show--table__timesheets {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.table__timesheets {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
.btn--timesheets {
    height: 10%;
}
.show--table__timesheets table {
    width: 100%;
    background-color: gainsboro;
}
// home teacher//
.main_Teacher {
    width: 100%;
    height: 100vh;
    background-color: #1b292055;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table__Teacher--header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.table__Teacher--body {
    width: 95%;
    max-height: 89%;
    margin: .8rem auto;
    overflow: hidden;
}
.table__Teacher--header h2 {
    font-size: 35px;
    height: 50%;
}
.search_Teacher--input {
   width: 30%;
   height: 50%;
}
.search_Teacher--input input {
    width: 100%;
    border-radius: 7px;
    height: 70%;
}
.search_Teacher--select {
   width: 20%;
   height: 50%;
}
.search_Teacher--select select {
    width: 60%;
    height: 70%;
    border-radius: 7px;
 }
 .search_Teacher--select button {
    width: 35%;
    border-radius: 7px;
    height: 70%;
 }
 .table__Teacher--body table {
    width: 100%;
 }
 .btn_detail-Teacher,
 .btn_update-Teacher {
    font-size: 20px;
    width: 45%;
    border-radius: 5px;
 }
//salary//
.main__Salary {
    background-color: #1b292055;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.show__Salary--header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.show__Salary--body {
    width: 100%;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 7px;
}
.show__Salary--body table {
    width: 100%;
}
.input__Salary-search {
   font-size: 20px;
   width: 20%;
   justify-content: space-between;
   display: flex;
   align-items: center;
}
.input__Salary-search input {
    font-size: 25px;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 7px;
}
.show__Salary--header button {
    font-size: 14px;
    width: 10%;
    border-radius: 6px;
}
.show__Salary--teacher table {
    width: 100%;
}
.show__Salary--teacher th {
    background-color: #eee;  
    padding: 5px; 
    font-size: 15px; 
}
.show__Salary--teacher td {
    padding: 5px;
    border-bottom: 1px solid #ddd; 
    background-color: antiquewhite;
}
.create__Salary--months {
    display: none;
    background-color: cornsilk;
    border-radius: 10px;
    height: 60%;
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create__Salary--months.hidden {
    display: block;
    height: 50%;
    width: 50%;
  }
.type__create--Salary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}
// .form-createSalary {
//     width: 100%;
//     display: flex;
//     padding: 5px; 
//     font-size: 15px; 
// }
// .form-createSalary label {
//     width: 35%;
//     font-size: 20px;
// }
// .form-createSalary input {
//     width: 60%;
//     border-radius: 10px;
//     font-size: 20px;
// }
// .form-createSalary button {
//     display: flex;
//     justify-content: center;
//     height: 50%;
// }
// .btn-createSalary {
//     padding: 20px;
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .btn-createSalary button {
//     font-size: 20px;
// }
.list__tableTuition--option {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.btn__detail--option,
.btn__delete--option {
    width: 40%;
}
.btn__delete--option button {
    width: 100%;
}
.btn__export--option {
    width: 60%;
}
//main_table salary//
.main__tableSalary {
    background-color: #1b292055;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}
.tableSalary_show-header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
.btn_tableSalary-header {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 40%;
    justify-content: space-around;
}
.tableSalary_show-body {
    width: 95%;
    max-height: 89%;
    margin: 0.8rem auto;
    overflow: hidden;
}
.tableSalary_show-body table {
    width: 100%;
}
.tableSalary_show-body button {
    width: 100%;
}
.btn_tableSalary-header button {
    width: 10%;
    border-radius: 6px;
}
.tableSalary-header_btn {
    width: 30%;
}
.tableSalary-header_btn button {
    height: 100%;
    width: 100%;
    border-radius: 6px;
}
//teacherSalary//
.main__Salary--teacher {
    background-color: #1b292055;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.table__Salaryteacher-show {
    width: 100%;
    height: 60%;
}
.table__Salaryteacher-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 10%;
    align-items: center;
}
.table__Salaryteacher-header button {
    width: 10%;
    border-radius: 5px;
}
.table__Salaryteacher-body {
    width: 100%;
}
.table__Salaryteacher-body table {
    width: 100%;
}
.table__Salaryteacher-body button {
    width: 50%;
    border-radius: 5px;
}
.form-createSalary {
    width: 100%;
    display: flex;
    padding: 5px; 
    font-size: 15px; 
}
.form-createSalary label {
    width: 35%;
    font-size: 20px;
}
.form-createSalary input {
    width: 60%;
    border-radius: 10px;
    font-size: 20px;
}
.form-createSalary button {
    display: flex;
    justify-content: center;
    height: 50%;
}
.btn-createSalary {
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-createSalary button {
    font-size: 20px;
    border-radius: 6px;
}
#createSalaryFormContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
}

//main_detailTB//
.main_detailTB {
    background-color: #1b292055;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
.main_detailTB button {
    width: 10%;
    height: 5%;
    border-radius: 6px;
}
.table_detailTB-header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.table_detailTB-body {
    width: 100%;
    box-shadow: 0 0.4rem 0.8rem #0005;
    border-radius: 7px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.table_detailTB-body table {
    width: 100%;
    height: 80%;
}

.table_detailTB-body button {
    width: 100%;
    border-radius: 6px;
}

//main_reportSalary//
.main_reportSalary {    
    background-color: #1b292055;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}
.table_reportSalary-header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.table_reportSalary-body {
    width: 100%;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 7px;
}
.table_reportSalary-body table {
    width: 100%;
}

//Reponsive//
@media screen and (max-width: 1024px) {
    .show__Salary--header button {
        width: 15%;
    }
    .search_Teacher--select {
        width: 30%;
    }
    .search_Teacher--select select {
        height: 3vh;
    }
    .table__Salaryteacher-body button {
        width: 100%;
    }
    .table__Salaryteacher-body {
        overflow: scroll;
    }
    .table_detailTB-body {
        overflow: scroll;
        justify-content: start;
        align-items: start;
    }
    .table_detailTB-body button {
        height: 100%;
    }
    .form__Info-teacher {
        width: 90%;
    }
    .main_Teacher {
        margin-top: 40px;
    }
    .main__Salary {
        margin-top: 50px;
    }
    .main__Salary--teacher {
        margin-top: 50px;
    }
    .main__tableSalary {
        margin-top: 50px;
    }
    .main__Teacher--infor {
        margin-top: 50px;
    }
    .main__timesheets {
        margin-top: 50px;
    }
    .main__updateTeacher {
        margin-top: 50px;
    }
    .main_detailTB {
        margin-top: 50px;
    }
    .main_reportSalary {
        margin-top: 50px;
    }
    .main_Teacher {
        margin-top: 50px;
    }
    .btn__detail--option {
        width: 50%;
    }
    .btn__delete--option {
        width: 50%;
    }
    .btn__delete--option button {
        width: 100%;
    }
    .btn_tableSalary-header {
        height: 25%;
    }
    .btn_tableSalary-header button {
        width: 20%;
    }
    .search_Teacher--select select {
        height: 70%;
    }
    .search_Teacher--select {
        height: 45%;
    }
    .search_Teacher--input {
        height: 45%;
    }
    .table__Teacher--header {
        margin-top: 55px;
    }
    .table__Salaryteacher-header button {
        width: 15%;
    }
    .table__Salaryteacher-show {
        margin-top: 60px;
    }
}
@media screen and (max-width: 768px) {
    .show__Salary--header button {
        width: 20%;
    }
    .btn__export--option {
        width: 100%;
    }
    .search_Teacher--select {
        width: 30%;
    }
    .search_Teacher--select button {
        font-size: 15px;
    }
    .btn_update-Teacher {
        width: 50%;
    }
    .tableSalary_show-body {
        overflow: scroll;
    }
    .form-updateTeacher {
        display: flex;
    flex-direction: column;
    align-items: center;
    height: 10%;
    }
    .list__tableTuition--option {
        display: flex;
    flex-direction: column;
    }
    .btn__detail--option ,
    .btn__delete--option {
        width: 100%;
    }
    .Salary--months {
        width: 70%;
    }
}
 @media screen and (max-width: 600px) {
    .show__Salary--header button {
        width: 20%;
        height: 80%;
    }
    .list__tableTuition--option button {
        width: 100%;
    }
    .list__tableTuition--option form {
        width: 100%;
    }
    .create__Salary--months.hidden {
        width: 80%;
        height: 40%;
    }
    .main__Salary {
        height: 100vh;
    }
    .table__Teacher--body button {
        width: 100%;
    }
    .table__Teacher--header h2 {
        font-size: 20px;
    }
    .search_Teacher--input input {
        height: 30%;
    }
    .btn_tableSalary-header button {
        width: 20%;
    }
    .tableSalary-header_btn {
        width: 100%;
    }
    .tableSalary-header_btn button {
        width: 60%;
    }
    .table__Teacher--infor {
        overflow: scroll;
    }
    .show__Salary--header button {
        height: 55%;
    }
    .table__Teacher--header {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 30%;
    }
    .search_Teacher--input {
        width: 80%;
        height: 30%;
    }
    .search_Teacher--input input {
        height: 100%;
    }
    .table__Teacher--header h2 {
        height: 30%;
        display: flex;
        align-items: center;
    }
    .search_Teacher--select {
        display: flex;
        align-items: center;
        width: 50%;
    }
    .table__Salaryteacher-header button {
        width: 25%;
    }
    .btn_tableSalary-header {
        height: 40%;
    }
 }
 @media screen and (max-width: 414px) {
    .show__Salary--header h2 {
        width: 60%;
    }
    .show__Salary--body {
        overflow: scroll;
    }
    .create__Salary--months.hidden {
        width: 90%;
        height: 45%;
    }
    .main__Salary {
        height: 100%;
        margin-top: 60px;
    }
    .table__Teacher--header h2 {
        font-size: 15px;
    }
    .search_Teacher--select button {
        font-size: 15px;
        width: 100%;
    }
    .search_Teacher--select {
        width: 20%;
    }
    .search_Teacher--select select {
        width: 100%;
    }
    .btn_tableSalary-header button {
        height: 100%;
    }
    .btn_tableSalary-header {
        height: 60%;
        width: 70%;
    }
    .table__Teacher--body {
        overflow: scroll;
    }
    .table__Teacher--infor {
        height: 80%;
        display: flex;
        align-items: start;
        flex-direction: column;
    }
    .form__Info-teacher {
        width: 150%;
    }
    .form-updateTeacher {
    font-size: 15px;
    width: 45%;
    }
    .form-updateTeacher input {
        width: 100%;
    }
    .btn_main-updateTeacher button {
        width: 20%;
    }
    .show__Salary--header button {
        width: 35%;
        font-size: 15px;
    }
    .search_Teacher--select {
        width: 70%;
    }
    .table__Teacher--header h2 {
        font-size: 25px;
    }
    .table__Salaryteacher-header button {
        width: 30%;
    }
    .Salary--months {
        width: 90%;
        height: 70%;
    }
    .form-createSalary {
        display: flex;
        flex-direction: column;  
    }
    .form-createSalary input ,label {
        width: 100%;
    }
    .form-createSalary label {
        width: 100%;
    }
    .btn_tableSalary-header {
        width: 30%;
    }
    .btn_tableSalary-header button {
        width: 70%;
    }
 }
 @media screen and (max-width: 375px) {
      .table-inforTeacher h2 {
        font-size: 20px;
      }
      .show__Salary--header button {
        width: 35%;
        font-size: 15px;
    }
 }
 @media screen and (max-width: 320px) {
    .show__Salary--header button {
        width: 25%;
        font-size: 15px;
    }
    .show__Salary--header h2 {
        font-size: 20px;
    }
    .form-createSalary label {
        font-size: 15px;
    }
    .main__Salary--teacher {
        height: 100%;
    }
    .main__tableSalary {
        height: 100%;
    }
    .btn_tableSalary-header  {
        display: flex;
    flex-direction: column;
    }
    .btn_tableSalary-header button {
        width: 80%;
    }
.table__Teacher--infor {
    height: 100%;
}
.table-inforTeacher {
    width: 95%;
}
.show__Salary--header button {
    font-size: 12px;
}
.table__Salaryteacher-header button {
    width: 40%;
}
.btn_tableSalary-header {
    height: 60%;
    width: 30%;
}
.tableSalary_show-header {
    margin-top: 6px;
}
 }
 