.main__List_tuition {
  background: bisque;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

// .search__List-fees {
//   display: flex;
//   height: 20%;
//   width: 40%;
//   align-items: center;
//   justify-content: space-around;
//   flex-direction: row;
// }

// .search__List-fees input,
// .search__List-fees select,
// .search__List-fees button {
//   padding: 12px;
//   border-radius: 15px;
// }
.form__List-fees {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 25%;
}
#add-new-subject {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
  width: 50%;
  height: 70%;
}
.input_subject {
  display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.button__List-fees {
display: flex;
width: 100%;
align-items: baseline;
}
button#add-subject {
  display: flex;
  font-size: 17px;
  background-color: wheat;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  height: 40px;
  align-items: center;
}
button#add-button {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: antiquewhite;
}
.input_search_tuition {
  display: flex;
    height: 70%;
    align-items: center;
    font-size: 20px;
    width: 20%;
    justify-content: space-between;
}
.input_search_tuition input {
  border-radius: 5px;
    font-size: large;
}
.form-row {
display: flex;
justify-content: space-between;
margin-bottom: 10px; 
align-items: center;
font-size: 20px;
width: 100%;
height: 50px;
}

.form-row label {
width: 80%; 
}

.form-row input {
  width: 85%;
  font-size: 17px;
  border-radius: 7px;
}
.table__List-show {
  width: 82vw;
  height: 90vh;
  background-color: #1b292055;

  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  position: relative;
  overflow: hidden;
}

.table__List-header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around;
  
}
.table__List-body {
  width: 95%;
  max-height: 89%;
  background-color: #fffb;
  margin: .8rem auto;
  
}
.table__List-body table {
  width: 100%;
}
.table__List-show h2 {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center; 
}

.table__List-show th {
background-color: #eee;  
padding: 5px; 
font-size: 15px; 

}
.click_add-subject {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__List-show td {
padding: 5px;
 
background-color: antiquewhite;
}


.table__List-show tbody tr:last-child td {
border-bottom: none; 
}
.session__List-fees {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  font-size: 20px;
}
.session__List-fees label {
  width: 7%;
}
.session__List-fees select {
  border-radius: 10px;
  font-size: 20px;
}