@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.main__List_tuition {
  background: bisque;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.form__List-fees {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%; }

#add-new-subject {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
  width: 50%;
  height: 70%; }

.input_subject {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

.button__List-fees {
  display: flex;
  width: 100%;
  align-items: baseline; }

button#add-subject {
  display: flex;
  font-size: 17px;
  background-color: wheat;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  height: 40px;
  align-items: center; }

button#add-button {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: antiquewhite; }

.input_search_tuition {
  display: flex;
  height: 70%;
  align-items: center;
  font-size: 20px;
  width: 20%;
  justify-content: space-between; }

.input_search_tuition input {
  border-radius: 5px;
  font-size: large; }

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 50px; }

.form-row label {
  width: 80%; }

.form-row input {
  width: 85%;
  font-size: 17px;
  border-radius: 7px; }

.table__List-show {
  width: 82vw;
  height: 90vh;
  background-color: #1b292055;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: .8rem;
  position: relative;
  overflow: hidden; }

.table__List-header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around; }

.table__List-body {
  width: 95%;
  max-height: 89%;
  background-color: #fffb;
  margin: .8rem auto; }

.table__List-body table {
  width: 100%; }

.table__List-show h2 {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center; }

.table__List-show th {
  background-color: #eee;
  padding: 5px;
  font-size: 15px; }

.click_add-subject {
  display: flex;
  justify-content: center;
  align-items: center; }

.table__List-show td {
  padding: 5px;
  background-color: antiquewhite; }

.table__List-show tbody tr:last-child td {
  border-bottom: none; }

.session__List-fees {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  font-size: 20px; }

.session__List-fees label {
  width: 7%; }

.session__List-fees select {
  border-radius: 10px;
  font-size: 20px; }

.table__Management_tuition {
  width: 100%;
  height: 100vh;
  background-color: #1b292055;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  position: relative; }

.table__Management-fees_header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.table__Management-fees_body {
  width: 95%;
  max-height: 89%;
  margin: .8rem auto;
  overflow: hidden; }

.table__Management-fees_body table {
  width: 100%; }

.session__Management-fees {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  font-size: 20px; }

.session__Management-fees label {
  width: 10%; }

.session__Management-fees select {
  border-radius: 10px;
  font-size: 20px; }

.search__Management-fees {
  display: flex;
  height: 20%;
  width: 50%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row; }

.search__Management-fees input,
.search__Management-fees select,
.search__Management-fees button {
  padding: 12px;
  border-radius: 15px; }

.table__Management-fees table, th, td {
  border-collapse: collapse;
  background-color: #fff4;
  padding: 1rem;
  text-align: left; }

.options {
  display: none; }

.show-options {
  display: block;
  width: 100%;
  height: 100%; }

.options ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column; }

.main__Collect_tuition {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  flex-direction: column; }

.table__Collect-tuition {
  display: flex;
  width: 80%;
  height: 100%;
  border-radius: 25px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  flex-direction: column; }

.card__Info-student {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 33px rgba(0, 0, 0, 0.1);
  border: 13px solid #ddd; }

.card__Info-student h2 {
  display: flex;
  align-items: center;
  height: 40px; }

.form__Info-student {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 15px;
  height: 70%; }

.form__card {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 35px; }

.form__card p {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center; }

.form__Registered-subject h2 {
  height: 65px;
  font-size: 30px;
  display: flex;
  align-items: center; }

.table__Registered-subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%; }

.table__Registered-subject table {
  border-collapse: collapse;
  width: 100%; }

.table__Registered-subject th,
.table__Registered-subject td {
  border: 1px solid #0c0b0b;
  padding: 8px;
  text-align: left; }

.table__Registered-subject th {
  background-color: #f2f2f2;
  font-weight: bold; }

.form__Registered-subject {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  align-items: center;
  height: 60%;
  background-color: cornsilk;
  border-radius: 10px; }

.list__Registered-select {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  font-size: 20px; }

.list__Registered-select label {
  width: 15%; }

.list__Registered-select select {
  border-radius: 10px;
  font-size: 20px; }

.form__Receipt-tuition {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
  border-radius: 10px;
  margin: .8rem; }

.form__Show-receipt {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 77%; }

.form__card-receipt {
  width: 45%;
  display: flex;
  height: 15%;
  font-size: 20px; }

.form__Show-receipt label {
  flex: 1 0 50%;
  display: flex;
  align-items: center; }

.form__Show-receipt input, .form__Show-receipt select {
  flex: 1 0 50%;
  margin: 10px;
  height: 25px;
  border-radius: 5px; }

.form__Receipt-tuition button {
  display: flex;
  background-color: #eac291;
  border-radius: 5px;
  font-size: 15px; }

.main__Invoice {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.form__Invoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(transparent-background.png);
  background-color: rgba(247, 242, 242, 0.935);
  width: 65%;
  height: 100%;
  border-radius: 25px;
  box-sizing: border-box; }

.show__Infor-company {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 90%;
  justify-content: space-between;
  align-items: center; }

.show__Adress {
  display: flex;
  flex-direction: column;
  width: 70%; }

.show__Adress h3 {
  font-size: 13px; }

.show__Code-bill {
  display: flex;
  flex-direction: column;
  width: 30%; }

.show__Code-bill h3 {
  font-size: 15px; }

.table__Info-bill {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  align-items: center; }

.table__Info-bill h2 {
  height: 10%; }

.show__Info-bill {
  width: 100%;
  height: 80%; }

.form-bill {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 12%; }

.form-bill label {
  width: 20%; }

.form-bill input {
  display: flex;
  height: 80%;
  border: none;
  background-color: inherit;
  width: 85%; }

.show__Signature {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 60%; }

.form__Signature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%; }

.form__Signature h3 {
  font-size: 12px;
  height: 10%; }

.form__Signature h2 {
  height: 20%; }

.form__Invoice button {
  width: 10%;
  border-radius: 7px;
  background-color: bisque; }

.editor {
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Arial, sans-serif;
  position: fixed;
  background-image: url(transparent-background.png);
  background-color: bisque;
  border-radius: 10px;
  width: 40%;
  height: 50%;
  top: 12%; }

.editor textarea {
  width: 100%;
  height: 200px;
  font-size: 16px;
  padding: 5px;
  border: none;
  outline: none; }

.editor button {
  font-size: 16px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px; }

.editor button:hover {
  background-color: #eee; }

.editor button.active {
  background-color: #ccc; }

.form-noti {
  width: 100%;
  height: 10%; }

.editor h3 {
  height: 10%; }

.form-noti input {
  width: 40%;
  border-radius: 5px;
  font-size: 20px; }

textarea::selection {
  text-decoration-color: red; }

.main__History {
  background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.table__History {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(transparent-background.png);
  background-color: rgba(255, 255, 255, 0.5);
  width: 65%;
  height: 100%;
  border-radius: 25px;
  box-sizing: border-box; }

.table__History-invoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%; }

.table__History-invoice h2 {
  height: 15%; }

.table__History-noti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45%; }

.table__History-noti h2 {
  height: 15%; }

.show__History table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ccc; }

.show__History th,
.show__History td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd; }

.show__History th {
  background-color: #f2f2f2; }

.show__History tr:hover {
  background-color: #f5f5f5; }

.main__Report-tuition {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.table__Report-tuition {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(transparent-background.png);
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 100%;
  border-radius: 25px;
  box-sizing: border-box; }

.show__Report-tuition {
  background-color: bisque;
  width: 70%; }

.table__Report-tuition h2 {
  height: 15%;
  display: flex;
  align-items: center;
  font-size: 35px; }

.show__Report-tuition table {
  width: 100%;
  height: 60%; }

.show__Report-tuition td,
.show__Report-tuition th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: #f2f2f2;
  font-weight: bold; }

.search__Report-tuition {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  height: 20%; }

.search__Report-tuition select,
.search__Report-tuition button {
  font-size: 20px;
  border-radius: 7px;
  width: 15%; }

.main__Teacher--infor {
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column; }

.table__Teacher--infor {
  display: flex;
  height: 60%;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-direction: row; }

.form__Info-teacher {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 33px rgba(0, 0, 0, 0.1);
  border: 13px solid #ddd; }

.form__card-teacher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: cornsilk; }

.form__Level-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  align-items: center;
  height: 60%;
  background-color: cornsilk;
  border-radius: 10px; }

.show__Level-history {
  width: 80%;
  height: 100%; }

.show__Level-history table {
  border-collapse: collapse;
  width: 100%; }

.show__Level-history th,
.show__Level-history td {
  border: 1px solid #0c0b0b;
  padding: 8px;
  text-align: left; }

.show__Level-history th {
  background-color: #f2f2f2;
  font-weight: bold; }

.form__Role-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  align-items: center;
  height: 60%;
  background-color: cornsilk;
  border-radius: 10px; }

.show_Role-history {
  width: 80%;
  height: 100%; }

.show__Role-history table {
  border-collapse: collapse;
  width: 100%; }

.show__Role-history th,
.show__Role-history td {
  border: 1px solid #0c0b0b;
  padding: 8px;
  text-align: left; }

.show__Role-history th {
  background-color: #f2f2f2;
  font-weight: bold; }

.chart__Tuition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  align-items: center;
  height: 60%;
  background-color: cornsilk;
  border-radius: 10px; }

.main__updateTeacher {
  background-color: gray;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; }

.show-update__Teacher,
.show-update__Salary {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 70%; }

.table-inforTeacher {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
  border-radius: 10px;
  width: 60%;
  height: 50%; }

.form-updateTeacher,
.form-updateSalary {
  width: 45%;
  display: flex;
  height: 15%;
  font-size: 20px; }

.form-updateTeacher label,
.form-updateSalary label {
  flex: 1 0 50%;
  display: flex;
  align-items: center; }

.form-updateTeacher input,
.form-updateTeacher select,
.form-updateSalary input,
.form-updateSalary select {
  flex: 1 0 50%;
  margin: 10px;
  height: 25px;
  border-radius: 5px; }

.table-updateSalary {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: cornsilk;
  border-radius: 10px;
  width: 60%;
  height: 40%; }

.main__timesheets {
  background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; }

.form--timesheets {
  background-color: whitesmoke;
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-direction: column; }

.search--timesheets {
  display: flex;
  height: 15%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 100%; }

.search--timesheets input,
.search--timesheets label,
.search--timesheets select {
  height: 50%;
  font-size: 15px;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; }

.show--table__timesheets {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  text-align: center; }

.table__timesheets {
  width: 100%;
  height: 100%;
  background-color: whitesmoke; }

.btn--timesheets {
  height: 10%; }

.show--table__timesheets table {
  width: 100%;
  background-color: gainsboro; }

.main_Teacher {
  width: 100%;
  height: 100vh;
  background-color: #1b292055;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  display: flex;
  flex-direction: column;
  align-items: center; }

.table__Teacher--header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.table__Teacher--body {
  width: 95%;
  max-height: 89%;
  margin: .8rem auto;
  overflow: hidden; }

.table__Teacher--header h2 {
  font-size: 35px; }

.search_Teacher--input {
  width: 30%; }

.search_Teacher--input input {
  width: 100%;
  font-size: 30px;
  border-radius: 7px; }

.search_Teacher--select {
  width: 20%; }

.search_Teacher--select select {
  width: 60%;
  font-size: 20px;
  height: 4vh;
  border-radius: 7px; }

.search_Teacher--select button {
  width: 35%;
  font-size: 28px;
  border-radius: 7px; }

.table__Teacher--body table {
  width: 100%; }

.btn_detail-Teacher,
.btn_update-Teacher {
  font-size: 20px;
  width: 45%;
  border-radius: 5px; }

.main__Salary {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column; }

.show__Salary--header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.show__Salary--body {
  width: 100%;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 7px; }

.show__Salary--body table {
  width: 100%; }

.input__Salary-search {
  font-size: 20px;
  width: 20%;
  justify-content: space-between;
  display: flex;
  align-items: center; }

.input__Salary-search input {
  font-size: 25px;
  backdrop-filter: blur(7px);
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 7px; }

.show__Salary--header button {
  font-size: 20px;
  width: 10%;
  border-radius: 6px; }

.show__Salary--teacher table {
  width: 100%; }

.show__Salary--teacher th {
  background-color: #eee;
  padding: 5px;
  font-size: 15px; }

.show__Salary--teacher td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: antiquewhite; }

.create__Salary--months {
  display: none;
  background-color: cornsilk;
  border-radius: 10px;
  height: 60%;
  margin-top: 30px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.create__Salary--months.hidden {
  display: block;
  height: 50%;
  width: 50%; }

.type__create--Salary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  height: 100%; }

.form-createSalary {
  width: 100%;
  display: flex;
  padding: 5px;
  font-size: 15px; }

.form-createSalary label {
  width: 35%;
  font-size: 20px; }

.form-createSalary input {
  width: 60%;
  border-radius: 10px;
  font-size: 20px; }

.form-createSalary button {
  display: flex;
  justify-content: center;
  height: 50%; }

.btn-createSalary {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.btn-createSalary button {
  font-size: 20px; }

.list__tableTuition--option {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap; }

.btn__detail--option,
.btn__delete--option {
  width: 40%; }

.btn__delete--option button {
  width: 100%; }

.btn__export--option {
  width: 60%; }

.main__table--Salary {
  background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; }

.create__TeacherSalary {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background-color: cornsilk;
  height: 35%;
  align-items: center;
  border-radius: 10px;
  font-size: 20px; }

.form-Teachersalary {
  padding: 10px; }

.form-Teachersalary button {
  font-size: 20px;
  border-radius: 3px; }

.form-Teachersalary input {
  border-radius: 3px;
  font-size: 11px; }

.tableSalary-show {
  width: 90%;
  height: 55%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.tableSalary-show table {
  width: 100%; }

.tableSalary-show th {
  background-color: #eee;
  padding: 5px;
  font-size: 15px; }

.tableSalary-show td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
  background-color: antiquewhite; }

.btn__Teacherback {
  display: flex;
  justify-content: center;
  background-color: azure;
  font-size: 30px;
  width: 10%;
  border-radius: 10px; }

.main__announcement {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column; }

.table_announcement-header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.table_announcement-body {
  width: 100%;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 7px; }

.table_announcement-header h2 {
  width: 50%;
  height: 50%;
  font-size: 40px; }

.table_announcement-body table {
  width: 100%; }

.input_announcement {
  width: 45%;
  height: 45%; }

.input_announcement input {
  width: 70%;
  height: 100%;
  border-radius: 6px; }

.input_announcement i {
  height: 100%;
  font-size: 15px; }

.input_announcement button {
  height: 100%;
  width: 20%;
  border-radius: 6px; }

.table_announcement-body button {
  width: 100%; }

.main__detailForStudent {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column; }

.table_detailForStudent-header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.table_detailForStudent-header h2 {
  width: 70%;
  font-size: 40px; }

.table_detailForStudent-header button {
  width: 10%;
  font-size: 20px; }

.table_detailForStudent-body {
  width: 100%;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 7px; }

.table_detailForStudent-body table {
  width: 100%; }

.main__announcementStudents {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column; }

.table_announcementStudents-header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.table_announcementStudents-body {
  width: 100%;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 7px; }

.table_announcementStudents-body table {
  width: 100%; }

.table_announcementStudents-body button {
  width: 100%; }

.main__announcementTeacher {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column; }

.table_announcementTeacher-header {
  width: 100%;
  height: 10%;
  background-color: #fff4;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.table_announcementTeacher-body {
  width: 100%;
  box-shadow: 0 .4rem .8rem #0005;
  border-radius: 7px; }

.table_announcementTeacher-body table {
  width: 100%; }

.table_announcementTeacher-body button {
  width: 40%; }

.main__sendMail--teacher {
  background-color: #1b292055;
  width: 100%;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center; }

.table__sendMail--body {
  width: 50%;
  height: 50%; }

.table__sendMail--body button {
  width: 20%; }

.table__sendMail--body textarea {
  width: 100%;
  height: 100%;
  border-radius: 6px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

nav {
  display: flex;
  justify-content: space-between; }

.header-list {
  display: flex;
  background-color: #ee9b36; }

h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: black;
  position: absolute; }

.show-list {
  display: flex;
  align-items: center;
  height: 77px;
  font-size: 20px;
  width: 90%;
  position: relative;
  justify-content: flex-start;
  flex-direction: row; }

.drop-down__header {
  width: 20%; }

.Tuition-show,
.Salary-show,
.Announcement-show,
.Setting-show,
.Account-show {
  display: none;
  flex-direction: column;
  margin-top: 50px; }

.drop-down__header:hover .Tuition-show,
.drop-down__header:hover .Salary-show,
.drop-down__header:hover .Announcement-show,
.drop-down__header:hover .Setting-show,
.drop-down__header:hover .Account-show {
  display: flex; }

.Tuition-show li,
.Salary-show li,
.Announcement-show li,
.Setting-show li,
.Account-show li {
  list-style-type: none;
  background-color: #36373b;
  display: flex; }

.Tuition-show a,
.Salary-show a,
.Announcement-show a,
.Setting-show a,
.Account-show a {
  text-decoration: none;
  color: lavender;
  justify-content: flex-start;
  font-size: 15px;
  display: contents; }

.about-login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg) center/cover no-repeat; }

.main-login {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 70%;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  flex-direction: column; }

.form-login {
  height: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%; }

.form-type__login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80%; }

.login-title {
  display: flex;
  justify-content: center;
  font-size: 53px;
  height: 5%; }

.type--login {
  display: flex;
  width: 60%;
  flex-direction: column;
  height: 30%;
  font-size: 20px; }

.type--login input,
.password-field {
  width: 100%;
  border-radius: 3px;
  height: 35px; }

.type--login label {
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center; }

.checkbox--login input {
  width: 20%; }

.checkbox--login {
  height: 20%;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center; }

.main-login button {
  font-size: 20px;
  border-radius: 5px;
  width: 15%; }

.main_setting_regisster {
  background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.form_regisster_q {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0b83e5;
  width: 20%;
  height: 470px; }

.form_regisster_q h2 {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: white; }

.form_user_q {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  font-size: 20px;
  width: 90%;
  height: 50px; }

.form_user_q label {
  width: 60%;
  color: white; }

.form_user_q input {
  width: 60%;
  height: 25px; }

.form_user_q select {
  width: 60%;
  height: 25px; }

.btn_create_user_q {
  display: flex;
  height: 25px;
  justify-content: center; }

.form_data_regisster_q {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%; }

.form_data_regisster_q th {
  background-color: #f3b94f;
  padding: 5px;
  font-size: 15px; }

.form_data_regisster_q td {
  padding: 5px;
  border-bottom: 1px solid black;
  background-color: #0b83e5; }

.btn_edit_user {
  background-color: greenyellow;
  font-size: 15px; }

.btn_delete_user {
  background-color: red;
  font-size: 15px;
  color: white; }

.main_setting_edit_user {
  background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.form_edit_user_q {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 500px;
  background-color: white; }

.form_edit_user_q h2 {
  display: flex;
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center; }

.form_edit_user_q2 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  font-size: 20px;
  width: 100%;
  height: 50px; }

.form_edit_user_q2 label {
  display: flex;
  width: 20%;
  flex-direction: row;
  justify-content: center; }

.form_edit_user_q2 input {
  width: 40%;
  height: 25px; }

.form_edit_user_q2 select {
  width: 40%;
  height: 25px; }

.form_btn_edit_user_q {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  align-items: center;
  font-size: 20px;
  height: 50px; }

#btn_back_user {
  width: 100px;
  height: 25px;
  background-color: green; }

#btn_back_user a {
  color: white; }

#btn_edit_user {
  width: 100px;
  height: 30px;
  background-color: #4343d4;
  color: white; }

.main_setting_teacher_q {
  background: url("http://iuhers.com/wp-content/uploads/2022/11/lneg2.jpg") center/cover no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.form_create_teacher_q {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #0b83e5;
  width: 30%;
  height: 90%; }

.form_create_teacher_q h2 {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: white; }

.form_teacher_q {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  font-size: 10px;
  width: 90%;
  height: 20px; }

.form_teacher_q label {
  width: 60%;
  font-size: 15px;
  color: white; }

.form_teacher_q input {
  width: 40%;
  font-size: 15px; }

.form_create_teacher_q button {
  font-size: 15px; }

.form_data_teacher_q {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 40%;
  width: 60%; }

.form_data_teacher_q th {
  background-color: #f3b94f;
  padding: 5px;
  font-size: 15px; }

.form_data_teacher_q td {
  padding: 5px;
  height: 5px;
  border-bottom: 1px solid black;
  background-color: #0b83e5;
  color: white; }

.form_data_teacher_q button {
  font-size: 15px;
  background-color: red;
  color: white; }
