<header>
  <nav class="header-list">
        <div class="form-header">
            
                <h1>School</h1>
                <ul class="show-list">
                    <ul class="home-header">Home</ul>
                    <ul class="drop-down__Tuition" > Management of tuition
                        <ul class="Tuition-show" >
                            <li><a href="/tuition">List of tuition fees</a></li>
                            <li><a href="/tuition/managementtuition">Managing school fees</a></li>
                            <li><a href="">Reporting of school expenses</a></li>
                        </ul>
                    </ul>
                    <ul class="drop-down__Salary"> The salary management
                        <ul class="Salary-show" >
                            <li><a href="">Profile of teacher.</a></li>
                            <li><a href="">Calculate the salary</a></li>
                            <li><a href="">Report of salary</a></li>
                        </ul>
                    </ul>
                    <ul class="drop-down__Announcement"> Announcement
                        <ul class="Announcement-show">
                            <li><a href="">My announcement</a></li>
                            <li><a href="">For student</a></li>
                            <li><a href="">For teacher</a></li>
                        </ul>
                    </ul>
                    <ul class="drop-down__Setting"> Setting
                        <ul class="Setting-show">
                            <li><a href="">Instructions for Student Management</a></li>
                            <li><a href="">Set up salary management</a></li>
                            <li><a href="">Number of system</a></li>
                        </ul>
                    </ul>
                    <ul class="drop-down__Account">Account
                        <ul class="Account-show">
                            <li><a href="/login">Login</a></li>
                            <li><a href="">Logout</a></li>
                        </ul>
                    </ul>
                </ul>
        </div>
    
      
    </nav>
</header>