
<header>
  <nav class="header-list">
    <div class="header-column">
      <h1>School</h1>
    </div>
      <div class="show-list">
        <div class="drop-down__header"><a href="/">home</a></div>
        <div class="drop-down__header"> Management of tuition
          <ul class="Tuition-show" >
            <li><a href="/tuition">List of tuition fees</a></li>
            <li><a href="/tuition/tableTuition">Managing school fees</a></li>
            <li><a href="/tuition/reportTuition">Reporting of school expenses</a></li>
          </ul>
        </div>
        <div class="drop-down__header"> The salary management
          <ul class="Salary-show" >
            <li><a href="/teacher">Profile of teacher.</a></li>
            <li><a href="/teacher/salary">Calculate the salary</a></li>
            <li><a href="/teacher/reportSalary">Report of salary</a></li>
          </ul>
        </div>
        <div class="drop-down__header"> Announcement
          <ul class="Announcement-show">
            <li><a href="/announcement">My announcement</a></li>
            <li><a href="/announcement/forStudent">For student</a></li>
            <li><a href="/announcement/forTeacher">For teacher</a></li>
          </ul>
        </div>
        <div class="drop-down__header"> Setting
          <ul class="Setting-show">
            <li><a href="/register">Register User</a></li>
            <li><a href="/teacher/MCTeacher">Create Teacher</a></li>
            <li><a href="/tuition/createS">Create Student</a></li>
          </ul>
        </div>
        <div class="drop-down__header">Account
          <ul class="Account-show">
            <li><a href="/login">Login</a></li>
            <li><a href="/login">Logout</a></li>
          </ul>
        </div>
      </div>
  </nav>
</header>
