<div class="main__History">
    <div class="table__History">
       <div class="table__History-invoice">
        <h2>Lịch sử thu học phí</h2>
        <div class="show__History">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Mã phiếu thu</th>
                    <th>Ngày thu</th>
                    <th>Người nộp</th>
                    <th>Học Phí</th>
                    <th>Thực thu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>xem phiếu thu</td>
                </tr>
            </tbody>
        </table>
        </div>
       </div>
       <div class="table__History-noti">
        <h2>Lịch sử gửi thông báo</h2>
        <div class="show__History">
        <table>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tiêu đề</th>
                    <th>Nội dung</th>
                    <th>Ngày gửi</th>
                    <th>Giờ gửi</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>xem thông báo</td>
                </tr>
            </tbody>
        </table>
        </div>
       </div>
    </div>
</div>