<div class="home__page">
    <div class="header">
        <div class="form-header">
            <div class="header-logo">
                <h1>School</h1>
            </div>
            <div class="header-list">
                <ul class="show-list">
                    <ul class="home-header">Home</ul>
                    <ul class="drop-down__Tuition" > Management of tuition
                        <ul class="Tuition-show" >
                            <li><a href="">List of school fees</a></li>
                            <li><a href="">Managing school fees</a></li>
                            <li><a href="">Reporting of school expenses</a></li>
                        </ul>
                    </ul>
                    <ul class="drop-down__Salary"> The salary management
                        <ul class="Salary-show" >
                            <li><a href="">Profile of teacher.</a></li>
                            <li><a href="">Calculate the salary</a></li>
                            <li><a href="">Report of salary</a></li>
                        </ul>
                    </ul>
                    <ul class="drop-down__Announcement"> Announcement
                        <ul class="Announcement-show">
                            <li><a href="">My announcement</a></li>
                            <li><a href="">For student</a></li>
                            <li><a href="">For teacher</a></li>
                        </ul>
                    </ul>
                    <ul class="drop-down__Setting"> Setting
                        <ul class="Setting-show">
                            <li><a href="">Instructions for Student Management</a></li>
                            <li><a href="">Set up salary management</a></li>
                            <li><a href="">Number of system</a></li>
                        </ul>
                    </ul>
                </ul>
            </div>
        </div>
    
      <div class="user">Account
        <ul class="Account-show">
            <li><a href="/login">Login</a></li>
            <li><a href="">Register</a></li>
        </ul>
      </div>
    </div>
</div>



{{!-- <script>
var tuitionDropdown = document.querySelector('.drop-down__Tuition');
var tuitionShow = document.querySelector('.Tuition-show');


tuitionDropdown.addEventListener('click', function() {
  tuitionShow.classList.toggle('Tuition-show');
});
</script> --}}

