<form action="/tuition/tableTuition/invoice/{{tuitionStudent._id}}/exportPDF" method="post">
<div class="main__Invoice">
    <div class="form__Invoice">
		<div class="show__Infor-company">
			<div class="show__Adress">
				<h2>Trung Tâm Mê Lập Trình</h1>
				<h3>958 Lac Long Quan F8 Tan Binh HCM</h3>
                <h3>Website</h3>
			</div>
			<div class="show__Code-bill">
                 <h3>Form no:</h3>
				 <h3>Sign:</h3>
			</div>
		</div>
		<div class="table__Info-bill">
			<h2>Biên lai thu học phí</h2>
			<div class="show__Info-bill">
				<div class="form-bill">
            <label for="name">Name</label>
            <input type="text" value="{{tuitionStudent.name}}" id="name" name="name">
			</div>
			<div class="form-bill">
            <label for="subject">Reason for payment:</label>
            <input type="subject" value="Payment of {{tuitionStudent.subject}} tuition fees" id="email" name="subject">
			</div>
			<div class="form-bill">
            <label for="tuition">Payment amount:</label>
            <input type="text" id="tuition" value="{{tuitionStudent.tuition}}" name="tuition">
			</div>
			<div class="form-bill">
            <label for="method">Payment methods:</label>
            <input type="text" id="method" value="Cash" name="method">
			</div>
		</div>
	<div class="show__Signature">
		  <div class="form__Signature">
			<h3>Day.....Month.....Year.....</h3>
		  <h2>money-taker</h2>
          <h3>(Sign and write full name)</h3>
        </div>
		<div class="form__Signature">
			<h3>Day.....Month.....Year.....</h3>
		  <h2>Payer</h2>
          <h3>(Sign and write full name)</h3>
        </div>
	</div>
	<button type="submit">Complete Payment</button>
	</div>
</div>
</div>
</form>


