<form action="/tuition/managmenttuition/collecttuition/invoice/exportPDF" method="post">
<a>Hoa Don Thanh Toan Hoc Phi</a>
{{!-- {{#each tuition}}
<a>{{tuition.name}}</a>
{{/each}} --}}
<button type="submit">In</button>
</form>


