

<div class="about-login">
  {{!-- <img class="logo-school" src="https://assets.foleon.com/eu-west-2/uploads-7e3kk3/48044/foleon_logo_lon_kent_white.f0e5fd02e287.png" alt="my logo"> --}}
  <div class="main-login">
    <form class="form-login" method="POST" action="/login/apilogin">
      <span class="login-title">Login</span>
          {{#if msg}}<p class="login-error">{{msg}}</p>{{/if}}
      <div class="form-type__login">
      <div class="type--login">
        <label for="username">Username</label>
        <input type="text" id="username" type="user" name="username" placeholder="Enter your username" required>
      </div>
      <div class="type--login">
        <label for="password">Password</label>
        <div class="password-field">
          <input id="password" type="password" type="password" name="password" placeholder="Enter your password" required>
          <span class="toggle-password" >
            <i class="bi bi-eye"></i>
          </span>
        </div>
     </div>

      <div class="checkbox--login">
        <h3>Admin/123</h3>
      </div>
       <button>Submit</button>
       </div>
    </form>
  </div>
</div>

