<a>aaaaaaaaaaaaaaaa</a>
{{#each student}}
<div>
    <a>{{this.codeStudent}}</a>
    <a>{{this.name}}</a>
</div>
{{/each}}
<div>
    <a href="/tuition/managmentttuition/collecttuition">T</a>
</div>
<div>
<a href="/">Back</a>
</div>