<a>aaaaaaaaaaaaaaaa</a>
{{#each student}}
<div>
    <a>{{this.codeStudent}}</a>
    <a>{{this.name}}</a>
</div>
{{/each}}
<div>
    <a href="/tuition/managmenttuition/collecttuition">Collecttuition</a>
</div>
<dIv>
    <a href="/tuition/managmenttuition/sendMail">Send Mail</a>
</dIv>
<div>
<a href="/">Back</a>
</div>