<div class="main__Report-tuition">
    <div class="table__Report-tuition">
        <h2>Báo cáo học phí</h2>
        <div class="search__Report-tuition">
      <select id="code-subject">
        <option value="value1">COM 1</option>
        <option value="value2">COM2</option>
        <option value="value3">COM1.1</option>
      </select>
      <select id="course-report">
        <option value="value1">Creat web</option>
        <option value="value2">Aplication</option>
        <option value="value3">HTML</option>
      </select>
      <select id="subject-report">
        <option value="value1">IT</option>
        <option value="value2">Designer</option>
        <option value="value3"></option>
      </select>
      <button type="submit">Tìm kiếm</button>
      <button type="reset">Hoàn tác</button>
    </div>
        <div class="show__Report-tuition">
            <table>
        <thead>
          <tr>
            <th>STT</th>
            <th>Khoa-khối</th>
            <th>Học viên</th>
            <th>Email</th>
            <th>Thực thu</th>
            <th>Mehtod</th>
          </tr>
        </thead>
        <tbody>
          {{#each invoice}}
          <tr>
            <td rowspan="3">1</td>
            <td rowspan="3">IT</td>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.fee}}</td>
            <td>{{this.method}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
</div>