<div class="main__Reporting-tuition">
    <div class="table__Reportingtuition-header">
        <h2>Báo cáo học phí</h2>
        </div>
        <div class="table__Reportingtuition-body">
            <table>
        <thead>
          <tr>
            <th>Name Tuition</th>          
            <th>Tuition Period</th>
            <th>Total Tuition</th>
          </tr>
        </thead>
        <tbody >
          {{#each reportTuition}}
            <tr >
              <td >{{this.nameTT}}</td>
              <td >{{moment this.tuitionPeriod1 format ="DD MMM YYYY"}} - {{moment this.tuitionPeriod2 format ="DD MMM YYYY"}}</td>
              <td >{{this.totalTT}}.vnd</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>