    <div class="main_reportSalary">
        <div class="table_reportSalary-header">
        <h2>Bảng Thông Tin Cả Năm</h2>
        </div>
        <div class="table_reportSalary-body">
        <table id="yearlySalaryTable">
            <table>
            <thead>
                <tr>
                    <th>Name Salary</th>          
                    <th>Salary Period</th>
                    <th>Total Salary</th>                
                </tr>
            </thead>
            <tbody>
                {{#each reportSalary}}
                <tr>
                    <td>{{this.nameSalary}}</td>
                    <td>{{moment this.salaryPeriod1 format ="DD MMM YYYY"}} - {{moment this.salaryPeriod2 format ="DD MMM YYYY"}}</td>
                    <td>{{this.totalSalary}}.vnd</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
    </div>