<div class="main__Report-tuition">
    <div class="table__Report-tuition">
        <h2>Báo cáo học phí</h2>
        <div class="show__Report-tuition">
            <table>
        <thead>
          <tr>
            <th>Name Tuition</th>          
            <th>Tuition Period</th>
            <th>Total Tuition</th>
          </tr>
        </thead>
        <tbody>
          {{#each reportTuition}}
            <tr class="data_tuition">
              <td class="td-nameTuition">{{this.nameTT}}</td>
              <td class="td-period">{{moment this.tuitionPeriod1 format ="DD MMM YYYY"}} - {{moment this.tuitionPeriod2 format ="DD MMM YYYY"}}</td>
              <td class="td-totalTuition">{{this.totalTT}}.vnd</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      </div>
    </div>
</div>