    <div class="container">
      
        {{!-- <div class="filters">
            <select id="departmentSelect">
                <option value="dept1">Phòng 1</option>
                <option value="dept2">Phòng 2</option>
                <!-- Thêm các tùy chọn khác tại đây -->
            </select>
            <select id="yearSelect">
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <!-- Thêm các tùy chọn khác tại đây -->
            </select>
            <select id="monthSelect">
                <option value="01">Tháng 1</option>
                <option value="02">Tháng 2</option>
                <!-- Thêm các tùy chọn khác tại đây -->
            </select>
            <button id="searchButton">Tìm Kiếm</button>
        </div>
            <div class="container"> --}}
       
        
        <!-- Bảng cha (thông tin cả năm) -->
        <h2>Bảng Thông Tin Cả Năm</h2>
        <table id="yearlySalaryTable">
            <table>
            <thead>
                <tr>
                    <th>Name Salary</th>          
                    <th>Salary Period</th>
                    <th>Total Salary</th>                
                </tr>
            </thead>
            <tbody>
                {{#each reportSalary}}
                <tr>
                    <td>{{this.nameSalary}}</td>
                    <td>{{moment this.salaryPeriod1 format ="DD MMM YYYY"}} - {{moment this.salaryPeriod2 format ="DD MMM YYYY"}}</td>
                    <td>{{this.totalSalary}}.vnd</td>
                </tr>
                {{/each}}
            </tbody>
            <!-- Nội dung bảng cả năm sẽ được tạo bằng JavaScript -->
        </table>

        {{!-- <!-- Bảng con theo tháng -->
        <h2>Bảng Thông Tin Theo Tháng</h2>
        <table id="monthlySalaryTable">
            <!-- Nội dung bảng theo tháng sẽ được tạo bằng JavaScript -->
        </table>

        <!-- Bảng con theo khối và giáo viên -->
        <h2>Bảng Thông Tin Theo Khối và Giáo Viên</h2>
        <table id="blockTeacherSalaryTable">
            <!-- Nội dung bảng theo khối và giáo viên sẽ được tạo bằng JavaScript -->
        </table> --}}
    </div>