<div>
    <table>
        <thead>
            <tr>Code Teacher</tr>
            <tr>Name Teacher</tr>
            <tr>Subject</tr>
            <tr>Position</tr>
            <tr>Day Work</tr>
            <tr>Day Off</tr>
            <tr>Sum Day Work</tr>
        </thead>
        
        <tbody>
            <td>{{teacher.codeTeacher}}</td>
            <td>{{teacher.nameTeacher}}</td>
            <td>{{teacher.subject}}</td>
            <td>{{teacher.position}}</td>
            <td>24</td>
            <td>0</td>
            <td>24</td>
        </tbody>

    </table>
</div>
<div>
    <Button type="submit"><a href="/teacher">Back</a></Button>
</div>