<div class="main__updateTeacher">
    <div class="table-inforTeacher">
  <h2>Bảng Thông Tin Giảng Viên</h2>
  <div class="show-update__Teacher">
     <div class="form-updateTeacher">
    <label for="code-gv">Mã giảng viên:</label>
    <input type="text" id="code-gv">
  </div>
  <div class="form-updateTeacher">
    <label for="ho-ten">Họ và tên:</label>
    <input type="text" id="ho-ten">
  </div>
  <div class="form-updateTeacher">
    <label for="gioi-tinh">Giới tính:</label>
    <select id="gioi-tinh">
      <option value="nam">Nam</option>
      <option value="nu">Nữ</option>
    </select>
  </div>
  <div class="form-updateTeacher">
    <label for="ngay-sinh">Ngày sinh:</label>
    <input type="date" id="ngay-sinh">
  </div>
  <div class="form-updateTeacher">
    <label for="email">Email:</label>
    <input type="email" id="email">
  </div>
  <div class="form-updateTeacher">
    <label for="dien-thoai">Điện thoại:</label>
    <input type="tel" id="dien-thoai">
  </div>
  <div class="form-updateTeacher">
    <label for="dia-chi">Địa chỉ:</label>
    <input type="text" id="dia-chi">
  </div>
  <div class="form-updateTeacher">
    <label for="chuyen-nganh">Tổ bộ môn:</label>
    <input type="text" id="chuyen-nganh">
  </div>
  <div class="form-updateTeacher">
    <label for="bang-cap">Bằng cấp:</label>
    <input type="text" id="bang-cap">
  </div>
  <div class="form-updateTeacher">
    <label for="vi-tri">Chức vụ:</label>
    <input type="text" id="vi-tri">
  </div>
  <div class="form-updateTeacher">
    <label for="ngay-bat-dau">Ngày bắt đầu công tác:</label>
    <input type="date" id="ngay-bat-dau">
  </div>
  <div class="form-updateTeacher">
    <label for="dia-chi">Dịa chỉ:</label>
    <input type="text" id="dia-chi">
  </div>
  <div class="form-updateTeacher">
    <label for="cmnd-cccd">Số CMND/CCCD:</label>
    <input type="text" id="cmnd-cccd">
  </div>
  <div class="form-updateTeacher">
    <label for="noi-cap">Nơi cấp:</label>
    <input type="text" id="noi-cap">
  </div>
  </div>
    </div>
    <div class="table-updateSalary">
      <h2>Thông tin lương</h2>
      <div class="show-update__Salary">
      <div class="form-updateSalary">
    <label for="hop-dong">Loại hợp đồng:</label>
    <select id="hop-dong">
      <option value="">A</option>
      <option value="">B</option>
    </select>
  </div>
  <div class="form-updateSalary">
    <label for="muc-luong">Lương cơ bản:</label>
    <input type="text" id="muc-luong">
  </div>
  <div class="form-updateSalary">
    <label for="ngach-hang">Ngạch/Hạng:</label>
    <input type="text" id="ngach-hang">
  </div>
  <div class="form-updateSalary">
    <label for="ma-ngach">Mã ngạch:</label>
    <input type="text" id="ma-ngach">
  </div>
  <div class="form-updateSalary">
    <label for="bac-luong">Bậc lương:</label>
    <input type="text" id="bac-luong">
  </div>
  <div class="form-updateSalary">
    <label for="heso-luong">Hệ số lương:</label>
    <input type="text" id="heso-luong">
  </div>
  <div class="form-updateSalary">
    <label for="ngay-ap-dung">Ngày áp dụng ngành bậc:</label>
    <input type="date" id="ngay-ap-dung">
  </div>
   </div>
   <div class="button-update">
    <button type="button" id="update-button">Submit</button>
    <button type="button" id="cancel-button">Cancel</button>
  </div>
  </div>
</div>